<mat-toolbar>
  <img src="/assets/images/logo.png" alt="logo" class="logo-img" />
  <span class="spacer-right"></span>
  <div *ngIf="isSignIn" style="display: contents;">
    <a mat-mini-fab class="icon-btn" [routerLink]="['/home']">
      <mat-icon>store</mat-icon>
    </a>
    <a mat-mini-fab class="icon-btn" [routerLink]="['/cart']">
      <mat-icon>shopping_cart</mat-icon>
    </a>
    <button mat-raised-button class="b_grl" (click)="navbarLogout()">
      Logout
    </button>
  </div>
</mat-toolbar>
