$color: #354646
$color-gray: #666
$color-success: #016a86
$color-successlight: #559aad
$color-primary: #173d6e
$color-lightprimary: #87b6c9 
$color-danger: #7b2639
$color-dangerlight: #cc6e81


body
  background: #3E5151
  background: -webkit-linear-gradient(to right, #DECBA4, #3E5151) 
  background: linear-gradient(to right, #DECBA4, #3E5151) 
  max-height: 91vh
  cursor: default
  color: $color-gray

.b_grl
  display: flex
  justify-content: center
  align-content: center
  padding: 0 30px 0 30px
  height: auto
  color: $color-gray
//   transition: all 0.5s
//   &:hover
//     background-color: $color-gray
//     color: #fff

.b_primary
  background-color: $color-primary
  color: #fff
  &:hover
    background-color: $color-lightprimary

.b_danger
  background-color: $color-danger
  color: #fff
  &:hover
    background-color: $color-dangerlight

.b_success
  background-color: $color-success
  color: #fff
  &:hover
    background-color: $color-successlight
    
.backscreen
  background-color: $color

.shadow-container
  position: relative
  top: 15%
  margin-inline: auto
  width: 500px
  background-color: rgb(250,250,250)
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3)
  border-radius: 10px
  padding: 30px

